<button type="button" class="btn btn-md" data-toggle="modal" data-target="#myModal">Add Player</button>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Player</h4>
            </div>
            <form><div class="modal-body">
                <label>
                    Name
                    <input type="text" ng-model="addName">
                </label>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" data-dismiss="modal" ng-click="addPlayer(addName)">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">Close</button>
            </div></form>
        </div>
    </div>
</div>